<mat-form-field appearance="fill" class="float-right" *ngIf="isProductRoute()">
  <mat-label>Sort By</mat-label>
  <mat-select (selectionChange)="sortBy($event)">
    <mat-option value="low to high">Price Low to High</mat-option>
    <mat-option value="high to low">Price High to Low</mat-option>
  </mat-select>
</mat-form-field>
<div class="container-fluid" style="display:flex; flex-direction: row; ">
  <div class="col-lg-2 col-md-6 mb-4" *ngIf="isProductRoute()">
    <h3>Select your price range: </h3>
    <mat-slider thumbLabel [displayWith]="formatLabel" step="1000" min="1000" max="30000" (input)="priceSort($event)">
    </mat-slider>
    <!-- <button mat-mini-fab (click)="priceSort(mat-slider.value)">Go</button> -->
    <h2>Filter by:</h2>
    <div class="filter" *ngFor="let filter of filters">
      <mat-checkbox (change)="changeEvent($event)" [(ngModel)]="filter.checked">{{filter.name}}</mat-checkbox><br>

      <!-- <h2>Select your brand:</h2>
            <mat-checkbox>Yamaha</mat-checkbox><br>
            <mat-checkbox>Bina</mat-checkbox><br>
            <mat-checkbox>Gibson</mat-checkbox><br>
            <mat-checkbox>Harman Professional</mat-checkbox><br>
            <mat-checkbox>Ronald</mat-checkbox><br>
            <mat-checkbox>Ronald</mat-checkbox><br> -->

    </div>
    <button mat-button id="filterbtn" [disabled]="toggleBool" (click)='filterby(li)'>Apply Filter</button>
  </div>
  <section class="text-center mb-4">
    <div class="row wow fadeIn">
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let pr of li">
        <mat-card class="card">
          <img [src]='imageurl+"/"+pr.image_paths' alt="">
          <h3>{{pr.product_name}}</h3>
          <div class="details">
            <h5 class="title">{{pr.product_name}}</h5>
            <strong><span class="post">{{pr.price|currency:'INR'}}</span></strong>
            <ul class="icon">
              <li><a (click)="addtoCart(pr)"><i class="fa fa-cart-plus"></i></a></li>
              <li><a [routerLink]="['/productinfo',pr._id]"><i class="fa fa-arrow-circle-right"></i></a></li>
            </ul>
          </div>
        </mat-card>
      </div>
    </div>
  </section>
</div>
