<div style="background-color: #edeeee; "class="text-right">
  <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect style="margin-top:20px;margin-right: 20px;">Write a blog
</button>
</div>
<div style=" padding: 5%; background-color: #edeeee; " class="d-flex justify-content-center">

  <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item *ngFor="let blog of blogsList">
      <div class="col-lg-5">
        <!-- Featured image -->
        <!-- <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4"> -->
        <img class="img-fluid" src="assets/images/music.jpg" alt="Sample image">
        <!-- </div> -->

      </div>
      <div class="col-lg-7">

        <h3 class="font-weight-bold mb-3"><strong>{{blog.title}}</strong></h3>

        <p>{{blog.description}}</p>
        <!-- Post data -->
        <p>by <strong>{{blog.username}}</strong>, {{blog.date | slice:0:10}}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

</div>




<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write Blog</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form34" class="form-control" mdbInput mdbValidate [formControl]="blogModalTitle">
          <label for="form34">Title of Blog</label>
          <mdb-error
            *ngIf="blogModalTitle.invalid && (blogModalTitle.dirty || blogModalTitle.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="blogModalTitle.valid && (blogModalTitle.dirty || blogModalTitle.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="fas fa-bookmark" class="prefix grey-text"></mdb-icon>
          <input type="email" id="form29" class="form-control" mdbInput mdbValidate
                 [formControl]="blogModalText">
          <label for="form29">Description</label>
          <mdb-error
            *ngIf="blogModalText.invalid && (blogModalText.dirty || blogModalText.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="blogModalText.valid && (blogModalText.dirty || blogModalText.touched)">Input
            valid
          </mdb-success>
        </div>

       

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)='method()'>Send
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</div>
