
<div style=" padding: 5%; background-color: #edeeee; " class="d-flex justify-content-center">
 
    <mdb-carousel [animation]="'slide'">
     
      <mdb-carousel-item>
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img class="img-fluid" src="assets/img/blog3.jpg" alt="Sample image">
          </div>
  
        </div>
        <div class="col-lg-7">
          <!-- Category -->
          <h6 class="font-weight-bold mb-3 green-text">Guitar</h6>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3"><strong>Acoustic Guitar Magazine</strong></h3>
          <!-- Excerpt -->
          <p>About Blog Acoustic Guitar is a monthly magazine that serves the practical needs of all acoustic guitar
            players,
            young and old, beginning and experienced, providing its readers with musical instruction, information,
            inspiration, advice, and a voice in the acoustic guitar community. The magazine's lessons, workshops, sheet
            music,
            and how-to articles help readers improve their technique and expand their repertoire.</p>
          <!-- Post data -->
          <p>by <strong>JEFFREY PEPPER RODGERS</strong>, 19/10/2020</p>
        </div>
      </mdb-carousel-item>
  
      <mdb-carousel-item>
        <div class="col-lg-7">
  
          <h6 class="font-weight-bold mb-3 pink-text">Guitar</h6>
  
  
          <h3 class="font-weight-bold mb-3"><strong>Title of the new article</strong></h3>
          <!-- Excerpt -->
          <p>Every year I love making up guitar renditions of Christmas carols, just sitting by the tree. Here are three
            favorites, all available in a songbook called Silent Nights. My approach to these arrangements is to keep
            things simple and sparse, and let the melodies shine. I’ll try a melody in various keys and positions until I
            find where it sits best,
            often with bass notes on open strings, and then add in touches of the chords.</p>
          <!-- Post data -->
          <p>by <strong>Carine Fox</strong>, 14/08/2018</p>
          <!-- Read more button -->
        </div>
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2">
            <img class="img-fluid" src="assets/img/blog2.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </mdb-carousel-item>
  
      <mdb-carousel-item>
        <div class="col-lg-5">
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img class="img-fluid" src="assets/img/blog1.jpg" alt="Sample image">
          </div>
        </div>
        <div class="col-lg-7">
          <h6 class="font-weight-bold mb-3 green-text">Guitar</h6>
          <h3 class="font-weight-bold mb-3"><strong>Title of the new article</strong></h3>
          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
          <p>by <strong>JEFFREY PEPPER RODGERS</strong>, 19/08/2018</p>
        </div>
      </mdb-carousel-item>
  
      <!-- 4th -->
  
      <mdb-carousel-item>
        <div class="col-lg-7">
          <h6 class="font-weight-bold mb-3 pink-text">Guitar</h6>
          <h3 class="font-weight-bold mb-3"><strong>Title of the new article</strong></h3>
          <p>Every year I love making up guitar renditions of Christmas carols,
            just sitting by the tree. Here are three favorites, all available in a
            songbook called Silent Nights. My approach to these arrangements is to keep things simple and sparse, and let
            the melodies shine. I’ll try a melody in various keys and positions until I find where it sits best,
            often with bass notes on open strings, and then add in touches of the chords.</p>
          <p>by <strong>Carine Fox</strong>, 14/08/2018</p>
        </div>
        <div class="col-lg-5">
          <div class="view overlay rounded z-depth-2">
            <img class="img-fluid" src="assets/img/blog3.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </mdb-carousel-item>
  
    </mdb-carousel>
  </div>