<!--FOOTER START-->

<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">

          <!--About us-->
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p style="text-align: justify;">Our first catalog was just a simple two-color flyer offering discounted guitar strings and a handful of other accessories.With a combination of hard work and intimate knowledge of the music business,things quickly changed.</p>
            </div>
          </div>
  
          <!--Categories-->
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Categories</h3>
              <ul class="footer-links">
                <li><a href="#">Hot deals</a></li>
                <li><a href="#">Rare Instruments</a></li>
                <li><a href="#">Piano</a></li>
                <li><a href="#">Wind Instruments</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
            </div>
          </div>
  
          <div class="clearfix visible-xs"></div>
  
          <!--Information-->
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Information</h3>
              <ul class="footer-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Orders and Returns</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
          
          <!--Services-->
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Service</h3>
              <ul class="footer-links">
                <li><a href="#">My Account</a></li>
                <li><a href="#">View Cart</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
          </div>

        </div>
        <!-- /row -->

      </div>
      <!-- /container -->

    </div>
    <!-- /top footer -->
  
    <!--Icons-->
    <div class="container">
      <div class="icons">
        <img src="/assets/icon/instagram.png"  height='36 px' width='36px'>
        <img src="/assets/icon/facebook.png"  height='36px' width='36px'>
        <img src="/assets/icon/pinterest.png"  height='36px' width='36px'>

      </div>
    </div>
    
    <!-- bottom footer -->
    <div id="bottom-footer" class="section"> 
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="copyright">
                                
            Copyright &copy; 2020 All rights reserved |  <i>Music Shop</i> 
            </span>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bottom footer -->

  </footer>
  <!-- FOOTER END-->