footer
{
    font-family: monospace;
    background-image: url("src\assets\img\footer.jpg");

}

.footer-title
{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 15px;

}

a{
    color: black;
}

#bottom-footer
{
    background-color: lightslategray;
}

.icons i
{
    margin: 10px;
}

.icons
{
    text-align: center;
}