<!--Section: Block Content-->
<section>
  
    
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-8">
  
        <!-- Card -->
        <div class="card wish-list mb-3">
          <div class="card-body">
  
            <h5 class="mb-4">Cart (<span>{{cartProduct.length}}</span> items)</h5>
  
            <div class="row mb-4" *ngFor="let item of cartProduct;" >
              <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                  <img class="img-fluid w-100"
                    [src]='imageurl+"/"+item.image_paths' alt="Sample">
                  <a href="#!">
                    <div class="mask waves-effect waves-light">
                      <img class="img-fluid w-100"
                      [src]='imageurl+"/"+item.image_paths'>
                      <div class="mask rgba-black-slight waves-effect waves-light"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h3>{{item.category}}</h3>
                      <p class="mb-3 text-muted text-uppercase medium">{{item.product_name}}</p>
                    </div>
                    <div>
                      <div class="def-number-input number-input safari_only mb-0 w-100">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="decrement(item.product_name)"
                          class="minus"><img src="\assets\img\minus_symbol1.png" width="18" height="18"></button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="increment(item.product_name)"
                          class="plus"><img src="\assets\img\Plus_symbol1.png" width="18" height="18"></button>
                      </div>
                      <small id="passwordHelpBlock" class="form-text text-muted text-center">
              
                      </small>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a type="button" (click)="removeItem(item.product_name)" class="card-link-secondary small text-uppercase mr-3"><i
                          class="fas fa-trash-alt mr-1"></i> Remove item </a>
                      <!--a href="#!" type="button" class="card-link-secondary small text-uppercase"><i
                          class="fas fa-heart mr-1"></i> Move to wish list </a-->
                    </div>
                    <p class="mb-0"><span><strong>RS {{item.price}}</strong></span></p>
                  </div>
                </div>
              </div>
            </div>

            <!--hr class="mb-4">
            <div class="row mb-4">
              <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                  <img class="img-fluid w-100"
                    src="\assets\img\guitar2.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask waves-effect waves-light">
                      <img class="img-fluid w-100"
                        src="\assets\img\guitar2.jpg">
                      <div class="mask rgba-black-slight waves-effect waves-light"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5>Guitar</h5>
                      <p class="mb-3 text-muted text-uppercase small">Product: Guitar</p>
                      <p class="mb-2 text-muted text-uppercase small">Color: White</p>
                      <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                    </div>
                    <div>
                      <div class="def-number-input number-input safari_only mb-0 w-100">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"><img src="\assets\img\minus_symbol1.png" width="18" height="18"></button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"><img src="\assets\img\Plus_symbol1.png" width="18" height="18"></button>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                          class="fas fa-trash-alt mr-1"></i> Remove item </a>
                      <a href="#!" type="button" class="card-link-secondary small text-uppercase"><i
                          class="fas fa-heart mr-1"></i> Move to wish list </a>
                    </div>
                    <p class="mb-0"><span><strong>Rs 13599</strong></span></p>
                  </div>
                </div>
              </div>
            </div-->
            <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
              items to your cart does not mean booking them.</p>
  
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-body">
  
            <h3 class="mb-4">Expected shipping delivery</h3>
  
            <p class="mb-0"> Thu., 24.1.21 - Mon., 28.1.21</p>
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
        <!--div class="card mb-3">
          <div class="card-body">
  
            <h5 class="mb-4">We accept</h5>
  
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa">
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express">
            <img class="mr-2" width="45px"
              src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard">
            <img class="mr-2" width="45px"
              src="https://z9t4u9f6.stackpathcdn.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
              alt="PayPal acceptance mark">
          </div>
        </div-->
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4">
  
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-body">
  
            <h3 class="mb-3">The total amount of</h3>
  
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Amount
                <span>{{totalPrice()}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Gratis</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>The total amount of</strong>
                  
                </div>
                <span><strong>{{totalPrice()}}</strong></span>
              </li>
            </ul>
  
            <button type="button" (click)="checkout()" class="btn btn-primary btn-block waves-effect waves-light">Checkout</button>
  
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
        <!--div class="card mb-3">
          <div class="card-body">
  
            <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample1"
              aria-expanded="false" aria-controls="collapseExample1">
              Add a discount code (optional)
              <span><i class="fas fa-chevron-down pt-1"></i></span>
            </a>
  
            <div class="collapse" id="collapseExample1">
              <div class="mt-3">
                <div class="md-form md-outline mb-0">
                  <input type="text" id="discount-code1" class="form-control font-weight-light"
                    placeholder="Enter discount code">
                </div>
              </div>
            </div>
          </div>
        </div-->
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Block Content-->