.row{
    padding: 20px 0px;
    background-image: url('src\assets\img\begineer.jpg');
    background-position: center;

}
label{

    font-weight: 500;
}

.btn{
    background-color: teal;

}
.btn:hover {
    cursor: pointer;
}
input:hover{
    border: 3px solid grey;
}

.card-header{
    background-color: teal;

}
.text-uppercase
{
    font-weight: bold;

}
.primary-btn
{
    background-color: teal; 
    border-radius:7% ;
}


.primary-btn:hover {
    opacity: 0.6 ;
}
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
    border: 3px solid grey;
}




