<div class="background">
    <div class="productdetails">
        <div class="xzoom-container">
                 <!-- <img [src]='imageurl+"/"+res.image_paths' alt="img" height="500px" width="400px"> -->
                <!-- <img [src]="imageurl" alt="img" *ngIf="imageurl" height="500px" width="400px"> -->
                 <lib-ngx-image-zoom id="zoomimg"  
                 [thumbImage]= 'imageurl+"/"+res.image_paths'
                [fullImage]= 'imageurl+"/"+res.image_paths'
                enableZoom="enableZoom"
                zoomMode= 'hover'
                magnification = 2
                enableLens = true
                lensWidth= 200
                lensHeight= 200
                circularLens = true
                ></lib-ngx-image-zoom>

                
        </div>

        <div class="description">
           
            <h2>{{res.product_name}}</h2>

                   <p><strong>About this item:</strong></p>
                   <p style="font-size: 12px;">{{res.product_descriptions}}</p>
                <br>
                <ul>
                    <li><b>Available: </b> <span>in stock</span></li> 
                    <li><b>Category: </b><span>{{res.sub_category}}</span></li>
                    <li><b>Shipping Area: </b><span>All over the Nation</span></li>
                    <li><b>Shipping Fee: </b><span>Free</span></li>
                </ul><br>
                <span class="price">
                    {{res.price}}
                </span><br>
                <small>Hurry,Only few left !</small><br><br>
                <div>
                    <!-- <button class="bi bi-cart cart">Add to Cart</button> -->
                    <button class="btn btn-info btn-lg" (click)="addtoCart(res)">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                    </button>
                </div>
        </div>
    </div>
    
</div>