<!--NAVBAR START-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">MUSIC STORE</a>

    <!--To toggle navbar when screen is resized-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--COLLAPSE NAVBAR START-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!--NAVIGATION LINK START-->
      <ul class="navbar-nav mr-auto">

        <!--HOME-->
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <!--CATEGORY-->
        <li class="nav-item dropdown">
          <button mat-button class="dropdown-toggle nav-link" [matMenuTriggerFor]="menu">Category</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="string">String</button>
            <button mat-menu-item [matMenuTriggerFor]="wind">Wind</button>
            <button mat-menu-item [matMenuTriggerFor]="brass">Brass</button>
            <button mat-menu-item [matMenuTriggerFor]="precussion">Precussion</button>
            <button mat-menu-item [matMenuTriggerFor]="key">Key</button>
          </mat-menu>
          <mat-menu #string="matMenu">
            <button mat-menu-item><a [routerLink]="['/products','Guitar']" target="_parent">Guitar</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Violin']"  target="_parent">Violin</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Celio']" target="_parent">Celio</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Sarod']" target="_parent">Sarod</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Mayuri']" target="_parent">Mayuri</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Veena']" target="_parent">Veena</a></button>
          </mat-menu>
          <mat-menu #wind="matMenu">
            <button mat-menu-item><a [routerLink]="['/products','Clarinet']" target="_parent">Clarinet</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Saxophone']" target="_parent">Saxophone</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Oboe']" target="_parent">Oboe</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Pungi']" target="_parent">Pungi</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Flute']" target="_parent">Flute</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Shehnai']" target="_parent">Shehnai</a></button>
          </mat-menu>
          <mat-menu #brass="matMenu">
            <button mat-menu-item><a [routerLink]="['/products','Trombone']" target="_parent">Trombone</a></button>
            <button mat-menu-item><a [routerLink]="['/products','French Horn']" target="_parent">French Horn</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Trumpet']" target="_parent">Trumpet</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Bigul']" target="_parent">Bigul</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Ekkalam']" target="_parent">Ekkalam</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Kahal']" target="_parent">Kahal</a></button>
          </mat-menu>
          <mat-menu #precussion="matMenu">
            <button mat-menu-item><a [routerLink]="['/products','Drums']" target="_parent">Drums</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Triangle']" target="_parent">Triangle</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Djembe']" target="_parent">Djembe</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Tabla']" target="_parent">Tabla</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Pakhawaj']" target="_parent">Pakhawaj</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Mridangam']" target="_parent">Mridangam</a></button>
          </mat-menu>
          <mat-menu #key="matMenu">
            <button mat-menu-item><a [routerLink]="['/products','Keyboard']" target="_parent">Keyboard</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Piano']" target="_parent">Piano</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Synthesizer']" target="_parent">Synthesizer</a></button>
            <button mat-menu-item><a [routerLink]="['/products','Harmonium']" target="_parent">Harmonium</a></button>
          </mat-menu>



          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Category
          </a> -->
          
          <!-- <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
            <div class="column">
              <div class="dropdown-item">
                <h4>String instruments</h4>
              </div>
              <ul>
                <li><a [routerLink]="['/products','Guitar']" target="_parent">Guitar</a></li>
                <li><a [routerLink]="['/products','Violin']" target="_parent">Violin</a></li>
                <li><a [routerLink]="['/products','Celio']" target="_parent">Celio</a></li>
                <li><a [routerLink]="['/products','Sarod']" target="_parent">Sarod</a></li>
              </ul>
              <div class="dropdown-item">
                <h4>Percussion Instruments</h4>
              </div>
              <ul>
                <li><a [routerLink]="['/products','Drums']" target="_parent">Drums</a></li>
                <li><a [routerLink]="['/products','Triangle']" target="_parent">Triangle</a></li>
                <li><a [routerLink]="['/products','Djembe']" target="_parent">Djembe</a></li>
                <li><a [routerLink]="['/products','Tabla']" target="_parent">Tabla</a></li>
              </ul>
            </div>
            <div class="dropdown-divider"></div>
            <div class="column">
              <div class="dropdown-item">
                <h4>Brass Instruments</h4>
              </div>
              <ul>
                <li><a [routerLink]="['/products','French Horn']" target="_parent">French Horn</a></li>
                <li><a [routerLink]="['/products','Trumpet']" target="_parent">Trumpet</a></li>
                <li><a [routerLink]="['/products','Kahal']" target="_parent">Kahal</a></li>
                <li><a [routerLink]="['/products','Tuba']" target="_parent">Tuba</a></li>
              </ul>
              <div class="dropdown-item">
                <h4>Key Instruments</h4>
              </div>
              <ul>
                <li><a [routerLink]="['/products','Keyboard']" target="_parent">Keyboard</a></li>
                <li><a [routerLink]="['/products','Piano']" target="_parent">Piano</a></li>
                <li><a [routerLink]="['/products','Synthesizer']" target="_parent">Synthesizer</a></li>
                <li><a [routerLink]="['/products','Harmonium']" target="_parent">Harmonium</a></li>
              </ul>
            </div>
          </div> -->
        </li>

        <!--RARE INSTRUMENTS-->
        <li class="nav-item">
          <a class="nav-link" href="products/indian">Indian Instruments</a>
        </li>

        <!--BLOGS-->
        <li class="nav-item">
          <a class="nav-link" href="blogs">Blogs</a>
        </li>

      </ul>
      <!--NAVIGATION LINK END-->

      <!--CART-->
      <div class="col-auto">
        <a href=cart style="color: black;">
          <i class="fa fa-2x fa-shopping-cart"></i>
          <div class="qty">2</div>
        </a>
      </div>

      <!--SIGN IN-->
      <div class="col-auto">
        <a href=login style="color: black;">
          <span class="material-icons md-36">
            login
          </span>
        </a>
      </div>

    </div>
    <!--COLLAPSE NAVBAR END-->
  </div>
</nav>
<!--NAVBAR END-->
