<!--NAVBAR START-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">MUSIC STORE</a>

    <!--To toggle navbar when screen is resized-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--COLLAPSE NAVBAR START-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!--NAVIGATION LINK START-->
      <ul class="navbar-nav mr-auto">

        <!--HOME-->
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <!--CATEGORY-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
            <div class="column">
              <div class="dropdown-item">
                <h4>String instruments</h4>
              </div>
              <ul>
                <li>Guitar</li>
                <li>Violin</li>
                <li>Cello</li>
                <li>Sarod</li>
              </ul>
              <div class="dropdown-item">
                <h4>Percussion Instruments</h4>
              </div>
              <ul>
                <li>Drums</li>
                <li>Triangle</li>
                <li>Djembe</li>
                <li>Tabla</li>
              </ul>
            </div>
            <div class="dropdown-divider"></div>
            <div class="column">
              <div class="dropdown-item">
                <h4>Brass Instruments</h4>
              </div>
              <ul>
                <li>French Horn</li>
                <li>Trumpet</li>
                <li>Kahal</li>
                <li>Tuba</li>
              </ul>
              <div class="dropdown-item">
                <h4>Key Instruments</h4>
              </div>
              <ul>
                <li>Keyboard</li>
                <li><a href="products">Piano</a></li>
                <li>Synthesizer</li>
                <li>Harmonium</li>
              </ul>
            </div>
          </div>
        </li>

        <!--RARE INSTRUMENTS-->
        <li class="nav-item">
          <a class="nav-link" href="products">Rare Instruments</a>
        </li>

        <!--BLOGS-->
        <li class="nav-item">
          <a class="nav-link" href="blogs">Blogs</a>
        </li>

      </ul>
      <!--NAVIGATION LINK END-->

      <!--CART-->
      <div class="col-auto">
        <a href=cart style="color: black;">
          <i class="fa fa-2x fa-shopping-cart"></i>
          <div class="qty">2</div>
        </a>
      </div>

      <!--SIGN IN-->
      <div class="col-auto">
        <a href=login style="color: black;">
          <i class="fa fa-2x fa-sign-in"></i>
        </a>
      </div>

    </div>
    <!--COLLAPSE NAVBAR END-->
  </div>
</nav>
<!--NAVBAR END-->
