<!--BEGINEER START-->
<div class="begineer-area">
  <div class="container">
    <h2 class="text-uppercase">Beginner's section</h2>
    <p>Are you new to music? Then click below below for better recommendation</p>
    <br>
    <a class="primary-btn" href="#" style="background-color: teal;">Shop now</a>
  </div>
</div>
<!--BEGINEER END-->


<!--RECOMMENDED PRODUCT START-->

<div class="container" id="recommend">
  <h3> RECOMMENDED PRODUCT </h3>
</div>

<app-products></app-products>

<!--RECOMMENDED PRODUCT END-->

<!--CUSTOMER REVIEW START-->
<div class="slider-area">
    <div class="container">
      <!--Section start-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <!--Indicators below slide-->
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <!--Slider start-->
            <div class="carousel-inner">

              <!--Slide 1-->
              <div class="carousel-item active">
                  <div class="img-area">
                    <img class="d-block w-100" src="assets/img/profile.png" alt="First slide">
                  </div>

                  <div class="carousel-caption">
                    <h3>Shalini Singh</h3>
                    <h5>Sound Recordist</h5>
                    <p>For a novice these people are very co-operative. For experts these people are informative.
                      For professionals these people are suggestive. So whatever type of customers you are. This website
                    is the right place to drop in for all sort of professional gears </p>
                  </div>

              </div>
              
                <!--Slide 2-->
              <div class="carousel-item">
                  
                <div class="img-area">
                  <img class="d-block w-100" src="assets/img/profile.png" alt="Second slide">
                </div>

                <div class="carousel-caption">
                  <h3>Saurabh Kale</h3>
                  <h5>Sound Engineer</h5>
                  <p>You name the gear and they have it. If not then they will get it for you and at a
                      very reasonable price. I would recommend them for best price, quality and after sale service.
                      The best retailer and service provider in India.
                  </p>
                </div>
                
              </div>

                <!--Slider 3-->
              <div class="carousel-item">
                  
                <div class="img-area">
                  <img class="d-block w-100" src="assets/img/profile.png" alt="Third slide">
                </div>
                  
                <div class="carousel-caption">
                  <h3>Akshata Kulkarni</h3>
                  <h5>Music Composer</h5>
                  <p>This website is best in terms of quality and price. I recommend it for professional.
                      You will get everything you need related to music at an affordable price. Give it a try! 
                  </p>
                </div>

              </div>
            <!--Slider end-->
            </div>

            <!--Previous arrow-->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <!--Next arrow-->
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

      <!--section end-->
      </div>
    </div>
</div>
<!--CUSTOMER REVIEW END-->
