
.container-fluid{
  margin-top: 10px;
}
a[ng-click]{
    cursor: pointer;
}
mat-form-field{
  font-weight: bold;
}
mat-slider {
  width: 100px;
  margin-left: 0px;
}

/*---------------------------------------*/
.card h3{
  color: whitesmoke;
}

.card{
  width: fit-content;
  height: 300px;
  background-color: black;
    font-family: 'Oxygen', sans-serif;
    border-radius: 0 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.3s;
}
.card:hover{ background-color: lightslategray; }
.card:before,
.card:after,
.card .details:before,
.card .details:after{
    content: '';
    background-color: lightslategray;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.4s ease-in;
}
.card:after{
    top: auto;
    bottom: 0;
    left: 100%;
}
.card .details:before{
    width: 5px;
    height: 100%;
    top: 100%;
    left: 0;
}
.card .details:after{
    width: 5px;
    height: 100%;
    top: -100%;
    left: auto;
    right: 0;
}
.card:hover:before,
.card:hover:after{
    opacity: 0.2;
    left: 0;
}
.card:hover .details:before,
.card:hover .details:after{
    opacity: 0.2;
    top: 0;
}
.card img{
   width: 100%;
    height: 200px;
    transition: all 0.3s ease;
}
.card:hover img{ opacity: 0.35; }
.card .details{
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 15px 0 0 15px;
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 0;
    transition: all 0.45s ease;
}
.card:hover .details{
    opacity: 1;
    top: 0;
}
.card .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all 0.4s cubic-bezier(0.6, -0.8, 0.735, 0.045);
}
.card:hover .icon{
    opacity: 1;
    transform: rotate(0deg);
}
.card .icon li{ display: inline-block;  }
.card .icon li a{
    color: #fff;
    background-color: lightslategray;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
    position: relative;
    transition: all 0.3s ease 0s;
}
.card .icon li  a:hover{ box-shadow: 0 0 15px rgba(0,0,0,0.5); }
.card .icon li  a:hover:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate 0.5s ease-out 75ms;
}
@keyframes animate{
    0%{ opacity: 0.3; }
    40%{
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100%{
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
@media only screen and (max-width:990px){
    .box { margin: 0 0 30px; }
}
.card .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 0 4px;
}
