<div class="background">
    <div class="container">
        <div class="xzoom-container">
                <!-- <img src="{{Imagepath}}" alt="img"> -->
                <lib-ngx-image-zoom id="zoomimg"
                [thumbImage]= "Imagepath"
                [fullImage]= "Imagepath"
                zoomMode= 'hover'
                magnification = 4
                enableLens = true
                lensWidth= 200
                lensHeight= 200
                circularLens = true
                ></lib-ngx-image-zoom>
        </div>

        <div class="description">
           
            <h2>Kadence Guitar</h2>

                <p>
                   <strong>About this item:</strong><br> <br>Good music deserves good-quality instruments, and this is something you can do with this black semi-acoustic guitar from Kadence.
                    Excellent craftsmanship, good sound quality Featuring a spruce body and rosewood fretboard and bridge, this 6-string guitar is a great
                     instrument for both amateurs and professionals.
                </p><br>
                <ul>
                    <li><b>Available: </b> <span>in stock</span></li> 
                    <li><b>Category: </b><span>String</span></li>
                    <li><b>Shipping Area: </b><span>All over the Nation</span></li>
                    <li><b>Shipping Fee: </b><span>Free</span></li>
                </ul>
                <span class="price">
                    ₹ 7500.00
                </span><br>
                <small>Hurry,Only few left !</small>
                <div>
                    <button class="cart">Add to Cart</button>
                    <button class="buy">Buy now</button>
                </div>
        </div>
    </div>
    
</div>
<br><br>