<div class="divexternal">
    <div id="divinternal">
        <video autoplay muted loop class="myVideo">
            <source src="/assets/videos/video1.mov" type="video/mp4">
        </video>
    </div>
    <div class="cards d-flex justify-content-center" [@EnterLeave]>
        <div class="card-deck">
            <!-- Card -->
            <mdb-card (click)='loadData("Guitar",target)'>
                <div class="view overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/beg_guitar.jpg" alt="Card image cap"></mdb-card-img>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Guitar</button>
                        <!-- <h4>Guitar</h4> -->
                    </mdb-card-title>
                    <!--Text-->
                    <!-- <mdb-card-text>  </mdb-card-text> -->
                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
            <mdb-card (click)='loadData("Tabla",target)'>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/beg_tabla.jpg" alt="Card image cap"></mdb-card-img>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Tabla</button>
                        <!-- <h4>Tabla</h4> -->
                    </mdb-card-title>
                </mdb-card-body>
            </mdb-card>


            <mdb-card (click)='loadData("Flute",target)'>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/beg_flute.jpg" alt="Card image cap"></mdb-card-img>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Flute</button>
                        <!-- <h4>Flute</h4> -->
                    </mdb-card-title>
                </mdb-card-body>
            </mdb-card>
            <mdb-card (click)='loadData("Keyboard",target)'>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/beg_keyboard.jpg" alt="Card image cap"></mdb-card-img>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Keyboard</button>
                        <!-- <h4>Keyboard</h4> -->
                    </mdb-card-title>
                </mdb-card-body>
            </mdb-card>
        </div>
  </div>
</div>
<div #target>
    <app-tutorial></app-tutorial>
</div>
<div>
    <h2 id='products'>PRODUCTS </h2>
    <div  class="cards d-flex justify-content-center">
        <app-products [begineerproducts]='selectedproducts'></app-products>
    </div>
    
</div>
<div>
  <app-blogs></app-blogs>
</div>
