
.cards{
    margin: 5% 10% 5% 10%;
    
  }
 
  
  .divexternal{
    height: 100vh;
      border-right:none;
      border-left: none;
      position: relative;
      padding: 20px;
     
  }
  
  #divinternal{
    position: absolute;
    top:0%;
      left:0%;
      height:100%;
      width:100%;
      overflow: hidden;
  }
  
  video {
      position:absolute;
      z-index:0;
  }
  
  video.myVideo {
      width: 100%;
  }

  .view{
    height: 40vh;
  }
  #products{
    margin-left: 10px;
    text-transform: uppercase;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
}