
.tutorials{
    background-color: #eeeeee;
}
.row{    margin: 5% 10% 5% 10%;}
#heading{
    margin-left: 10px;
    text-transform: uppercase;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
}
